<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.bootcdn.net/ajax/libs/skeleton/2.0.4/skeleton.css"
      rel="stylesheet"
    />

    <style>
      .text-center {
        text-align: center;
      }
    </style>
    <title>Sharing Bike</title>
  </head>
  <body>
    <div class="container">
      <h1>Log In</h1>

        <form id="user-form" action="/login/" method="post">
  <div>
    {% csrf_token %}
  </div>
  <div>
    <label for="userid">User Name</label>
    <input type="text" id="userid"  class="u-full-width" />
  </div>
  <div>
    <label for="password">PassWord</label>
    <input type="password" id="password"  class="u-full-width" />
  </div>

  <div>
    <input type="button" value="Login" class="u-full-width" onclick="login()"/>
  </div>
  <p class="text-center"> Don't have an account? please <a href="to_register">click here</a >  to register.</p >
</form>

      <p>{{ info }}</p>

    {% load static %}
    <script src="{% static "javascript/app.js" %}"></script>
  </body>
</html>

