<!--
  This file renders on the login view. 
-->
<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Load library -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <link href="https://cdn.bootcdn.net/ajax/libs/skeleton/2.0.4/skeleton.css" rel="stylesheet" />
  
  <style>
    /*
    Basic style to improve the login page
    */
    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    .text-center {
      text-align: center;
    }

    .container {
      position: center;
      margin-top: 150px;
    }

    h1 {
      text-align: center;
    }
  </style>
  <title>Sharing Bike</title>
</head>

<body>
  <div id="modal-area"></div>
  <div style="height: 110px;"></div>
  <div class="container">
    <h1>Log In</h1>

    <form id="user-form" action="/login/" method="post">
      <div>
        {% csrf_token %}
      </div>
      <!-- Username field -->
      <div>
        <label for="username">User Name</label>
        <input type="text" id="username" name="userid" class="u-full-width" />
      </div>
      <!-- Password field -->
      <div>
        <label for="pwd">PassWord</label>
        <input type="password" id="pwd" name="password" class="u-full-width" />
      </div>
      <!-- Button to submit the fields -->
      <div>
        <input type="submit" value="Login" class="u-full-width" />
      </div>
      <p class="text-center"> Don't have an account? please <a href="to_register/">click here</a> to register.</p>
    </form>


    {% load static %}
    <!-- Load scripts -->
</body>

<script src="{% static "javascript/jquery-3.5.1.min.js"%}" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="{% static "javascript/alert-modal.js" %}"></script>

<script>
  // Getting the response and showing a different alert depending on it
  var responseStatus = "{{ info }}"
  if (responseStatus == 1) {
    callModalAlert("ERROR", "Wrong user or password")
  }
  else if (responseStatus == 2) {
    callModalAlert("ERROR", "User does not exist. Please register")
  }
</script>

</html>