<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Load styles from boostrap and fontawesome libraries and local styles-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" crossorigin="anonymous" />
  <!-- Load styles from boostrap and fontawesome libraries and local styles-->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />

  <style type="text/css">
    /*
      Local styles to use in this view
      */
    #map {
      height: 57%;
    }

    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    #time p {
      color: #000000;
      font-size: 45px;
      font-weight: bold;
      margin-left: 350px;
      margin-bottom: 0px;
      overflow: hidden;
    }
  </style>

  <title>Bike Sharing</title>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-light navbar-light fixed-top">
    <div class="container">
      <a href="/home" class="navbar-brand">
        <i class="fas fa-biking"></i>
        <span class="text-primary font-weight-bold">Bike</span>
        Sharing</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="/home" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="/logout" class="nav-link">Log out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Map -->
  <div id="map"></div>

  <section id="main-page">
    <div class="container">

      <!--Track bikes-->
      <div class="start-form bg-light p-3">
        <h2 class="m-heading">Welcome, Operator.</h2>
        <br>
        <!--- Track Button -->
        <div id="accord">
          <button class="btn btn-primary" data-toggle="collapse" data-target="#TrackCollapse" data-parent="#accord"
            aria-controls="TrackCollapse" onClick="GetTrack()">
            Track All Bikes
          </button>

          <!--- Track Collapse --->
          <div class="collapse" id="TrackCollapse" data-parent="#accord">
            <div class="card card-body" id="TrackCollapseBody">
            </div>
            <div class="card-footer">
              <div class="form-group">
                <!-- To start tracking bikes -->
                <button class="submitbox btn btn-success" onClick="GetTrack()">
                  Refresh Tracking
                </button>

                <!-- To end tracking bikes -->
                <button class="submitbox btn btn-success" data-toggle="collapse" data-target="#TrackCollapse"
                  onClick="EndTrack()">
                  End Tracking
                </button>
              </div>
            </div>
          </div>
        </div>
        <!--Track bikes-->
        <br>

        <!--Unfinished actions-->
        <div id="pending-repairs">
          <h4 class="m-heading">Check pending repairs</h2>
            <br>
            <div id="main-pending-repairs">
              <!-- To show the pending repairs here -->
            </div>
        </div>
        <br>
        <div id="pending-movs">
          <h4 class="m-heading">Check pending movements</h2>
            <br>
            <div id="main-pending-movs">
              <!-- To show the movents repairs here -->
            </div>
        </div>
        <!-- Unfinished actions -->

        <!-- To see all the bikes at a location -->
        <div>
          <div class="form-group">
            <label for="postcode">See bikes at location (Post Code): </label>
            <input class="form-control" placeholder="Enter postcode" type="text" id="postcode" class="box" required />
          </div>
          <div class="form-group">
            <!-- To get all the bikes in the operator view -->
            <button class="submitbox btn btn-primary" onclick="getBikesOperator(true)">
              Search
            </button>
          </div>
          <div id="ride-bike">
            <div class="form-group container" id="main-container-bikes">
              <!-- To show bikes here -->
            </div>
            <!-- Message in case there is no bike in location -->
            <div class="form-group container" id="main-no-bike-available">
              <h3 class="m-heading text-info">No Bikes Available at this Spot at the moment</h3>
            </div>

          </div>
        </div>
      </div>
    </div>
    </section>

    <div id="modal-area"></div>

  <!--  Load the route samples to simulate movement when bikes are being tracked-->
  <script src="{% static "javascript/routes.js" %}"></script>

  <!-- Load jquery script -->
  <script src="{% static "javascript/jquery-3.5.1.min.js"%}" crossorigin="anonymous"></script>
  <!-- Load jquery cookie - This is used to manage the cookies on the app -->
  <script type="text/javascript" src="{% static "javascript/jquery.cookie.min.js"%}"></script>
  <!-- Load clustering markers library -->
  <script src="https://unpkg.com/@googlemaps/markerclustererplus/dist/index.min.js"></script>

  <!-- This script cannot be on a separate file because of the dependey on Google Maps and Django-->
  <script>
    // Init basic global variables
    let imgs = "{% static "img/" %}"
    /**
     * Initialize the map on the customer view
     * This method uses the Google Maps rest API to create and show the map
    */
    function initMap() {

      // Create the map on the div with id "map"
      map = new google.maps.Map(document.getElementById("map"), {
        center: { lat: 55.860789, lng: -4.250311 },
        zoom: 12,
        mapTypeId: "terrain",
      });
      // Create a <script> tag and set the USGS URL as the source.
      const script = document.createElement("script");
      script.src =
        "https://developers.google.com/maps/documentation/javascript/examples/json/earthquake_GeoJSONP.js";
      document.getElementsByTagName("head")[0].appendChild(script);

      // Call the function to populate the map
      showInitMap();
      // Call the function to get pendings (ongoing) actions by the operator
      getPendingOps();
    }
  </script>

  <!-- Basic libraries to enhace the interface -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>

  <!-- Google maps call -->
  <script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhwTKf3kSrByV-QeOT5hWAXN7CtM2VHFE&callback=initMap"></script>

  <!-- Call custom javascript functions -->
  <script src="{% static "javascript/alert-modal.js" %}"></script>
  <script src="{% static "javascript/app-operator.js" %}"></script>
  
</body>

</html>

<!-- AIzaSyAhwTKf3kSrByV-QeOT5hWAXN7CtM2VHFE -->