<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Load library -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <link href="https://cdn.bootcdn.net/ajax/libs/skeleton/2.0.4/skeleton.css" rel="stylesheet" />
  
  <style>
    /*
      Local style to display the view
      */
    .text-center {
      text-align: center;
    }
  </style>

  <title>Sharing Bike</title>
</head>

<body>
  <div id="modal-area"></div>
  <!-- Container for the form -->
  <div style="height: 150px;"></div>
  <div class="container">
    <h1 style="text-align: center;">Let's Start</h1>
    <form id="user-form" action="/register/" method="post">
      {% csrf_token %}

      <!-- Ask for username -->
      <div>
        <label for="username">User Name</label>
        <input type="text" id="username" name="nickname" class="u-full-width" required />
      </div>

      <!-- Ask for email -->
      <div>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" class="u-full-width" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          required />
      </div>

      <!-- Ask for password -->
      <div>
        <label for="password">Set PassWord</label>
        <input type="password" id="pwd" name="password" class="u-full-width" required />
      </div>

      <!-- Button to submit the form -->
      <div>
        <input type="submit" value="Register" class="u-full-width" />
      </div>
    </form>

    <!-- Redirect to login -->
    <p class="text-center"> Already have an account? please <a href="/login/">click here</a> to log in!</p>
    {% load static %}
    

</body>

<!-- Load jquery script -->
<script src="{% static "javascript/jquery-3.5.1.min.js"%}" crossorigin="anonymous"></script>
<!-- Load jquery cookie - This is used to manage the cookies on the app -->
<script type="text/javascript" src="{% static "javascript/jquery.cookie.min.js"%}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="{% static "javascript/alert-modal.js" %}"></script>

<!-- Specif script for this view -->
<script>
  // check for token
  if (typeof $.cookie('csrftoken') === 'undefined') {
    location.reload();
  }
  // Validate the status that API is responding
  let status = "{{status}}"
  // If the register was successful
  if (status == "COMPLETE") {
    callModalAlert("SUCCESS", "Register completed!", function(){
      $(location).attr('href', '/login');
    })
    
  }
  // If registration implies a user that already exists
  else if (status == "EXISTED") {
    //alert("This email is in used. Try another please")
    callModalAlert("ERROR", "This email is in used. Try another please")
  }
  // If registration implies that some fields are missing
  else if (status == "INCOMPLETE") {
    //alert("Please fill all the fields")
    callModalAlert("ERROR", "Please fill all the fields")
  }
</script>

</html>