<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
      integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      rel="stylesheet"
      media="screen and (max-width: 768px)"
      href="css/mobile.css"
    />

     <style type="text/css">
      #map {
        height: 57%;
      }

      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>

    <script>
    let map;
    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 55.864239, lng: -4.251806 },
            zoom: 8,
            mapTypeId: "terrain",
        });
         // Create a <script> tag and set the USGS URL as the source.
        const script = document.createElement("script");
        script.src =
        "https://developers.google.com/maps/documentation/javascript/examples/json/earthquake_GeoJSONP.js";
        document.getElementsByTagName("head")[0].appendChild(script);
    }

    function showMap (results) {
      $.ajax({
        type: "GET",
        dataType: "json",
        url: "/locations-of-availabe-bikes/",
        data: {},
        success: function (response) {
          const latLng = new google.maps.LatLng(55.858791649199794, -4.24896240234375);
          new google.maps.Marker({
            position: latLng,
            map: map,
            title: "Bikeid: 1",
          })
        },
      });
     }
    </script>

    <title>Bike Sharing</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-light navbar-light fixed-top">
      <div class="container">
        <a href="user_page.html" class="navbar-brand">
          <i class="fas fa-biking"></i>
          <span class="text-primary font-weight-bold">Bike</span>
          Sharing</a
        >
        <button
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navbarNav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="#home" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="/logout" class="nav-link">Log out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="map"></div>

    <section id="main-page">
      <div class="container">
        <div class="start-form bg-light p-3">
          <h2 class="m-heading">Let's start</h2>
          <form action="#">
            <div class="form-group">
              <label for="postcode">Post Code: </label>
              <input
                class="form-control"
                placeholder="Enter postcode"
                type="text"
                id="postcode"
                class="box"
                required
              />
            </div>
            <div class="form-group">
              <button
                class="submitbox btn btn-primary"
                onclick="getBikes()"
              >
                Search
              </button>
              <button
                class="submitbox btn btn-primary"
                onclick="showMap()"
              >
                Show on map
              </button>
              <div id="selectBike" class="form-group">

              </div>
            </div>


            <div class="form-group">
              <label for="bikeID">Bike ID: </label>
              <input
                class="form-control"
                placeholder="Enter bike ID"
                type="text"
                id="bikeid"
                class="box"
                required
              />
            </div>
            <div class="form-group">
              <button
                class="startbox btn btn-primary"
                onclick="StartCount()"
              >
                Start
              </button>
              <!--- Report Button -->
              <button
                class="btn btn-danger"
                onclick="CallModal()"
              >
                Report A Problem!
              </button>
              <!--- Report Window --->
              <div class="modal fade bd-report-modal-sm" tabindex="-1" role="dialog" 
              id="ReportModal">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Report A Problem!</h5>
                        </div>
                        <div class="modal-body">                            
                            <p>Would you like to report a problem with this bike? </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary btn-block"       
                            id="ConfirmReport" 
                            onclick="bikeIDErrorSubmit()">
                            Confirm
                            </button>
                            <button type="button" class="btn btn-secondary btn-block" 
                            data-dismiss="modal">
                            Close
                            </button>
                        </div>
                    </div>
                </div>
              </div>
              
              <div id="time">
				<p>00:00:00</p>
			  </div>

			  <button
                class="reportbox btn btn-dark"
                onclick="StopCount()"
              >
                Stop
              </button>
            </div>
          </form>
        </div>
      </div>
    </section>
    <style type="text/css">
		#time p{
			color: #000000;
			font-size: 45px;
			font-weight: bold;
			margin-left:350px;
			margin-bottom:0px;
			overflow: hidden;
		}
	</style>

    <script
      src="http://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
      integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
      crossorigin="anonymous"
    ></script>

    <script
      defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhwTKf3kSrByV-QeOT5hWAXN7CtM2VHFE&callback=initMap"
    ></script>

    <script src="{% static "javascript/app.js" %}"></script>

  </body>
</html>

<!-- AIzaSyAhwTKf3kSrByV-QeOT5hWAXN7CtM2VHFE -->
