:root {
  --light-color: #f3f3f3;
  --dark-color: #333;
}

/* Navbar */
.navbar {
  opacity: 0.96;
}

.navbar ul li a:hover {
  color: var(--dark-color);
  background-color: var(--light-color);
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

#main-page {
  display: flex;
  flex-direction: row;
}

#main-page .start-form {
  flex: 1;
}

#main-page .start-form .form-group {
  margin: 0.75rem;
}


button.grid-style {
  display: block ;
  width: 100%;
  height: 100%;
}

img.grid-style {
  object-fit: cover;
  width: 50%;
  height: 50%;
}

div.col.grid-img-style {
  text-align: center;
  height: fit-content;
}